# Dependency directories
node_modules/
dist/

# Log files
npm-debug.log*

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Compiled files
*.log
*.bak
*.cache
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.pyo
*.jar
*.war
*.ear
*.hprof
*.min.css
*.min.js

# Dependency lock files
package-lock.json
yarn.lock

# Miscellaneous
.DS_Store
Thumbs.db
